Add commentMore actions
# Unity 기본 설정
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
sysinfo.txt

# Unity 버전관리(Plastic SCM) 관련
.plastic/

# Addressables, StreamingAssets 관련
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# IDE/빌드 시스템 관련
.vs/
.vscode/
.gradle/
ExportedObj/
.consulo/

# Solution/Project Files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# JetBrains Rider Plugin
Assets/Plugins/Editor/JetBrains*

# 빌드 결과물
*.apk
*.aab
*.unitypackage
*.app
*.symbols.zip

# Crashlytics
crashlytics-build.properties